/*
#	-----
#	Eigene Styles zum Überschreiben der Theme-Einstellungen
#
#	Autor: KUATOproject
#	-----
*/

// Farben
@c-btn: #5b6d9d;
@c-text: #404040;
@c-bgbrown: #ccc1af;
@c-headbrown: #ede3d8;
@c-fontblue: #455b84;
@c-btnbrown: rgb(218,187,144);
@c-section: #d1c5b8;

// Schriftart
@f-base: 'Pacifico';

// Loader
#overlay {
	background-color:#fff;
}

#progstat {
	background-color: @c-fontblue;

	& i {
		color: #fff;
	}
}

// Allgemeines
.sectionBg {
	background-color: @c-section;
	}

p {
	color:#fff !important;
	}

h4 {
	color: @c-fontblue !important;
	}


// Pfeile nach unten
.arrow a {
	color: @c-fontblue;
}

/*	------------------------------------------ */

// Button Jumbotron
.box a {
	background-color: @c-btnbrown;
}



/*	------------------------------------------ */

// Headlines

.headline {
	text-shadow: 0px 2px 7px #333;
}

	// oberer Teil
	.featuresTitle h3 {
		color: @c-text;
	}
	// großer Buchstabe bei Headlines
	.featuresTitle h3 span {
		color:@c-headbrown;
	}

/*	------------------------------------------ */

// Abschnitte

	//  headline 1. Teil
	.descriptions h3,
	.location h3,
	.aboutAgent h3,
	.carousel-caption h2 span,
	.footer h2
	 {
		font-family: @f-base;
		color: @c-headbrown;
		font-weight: 400;
	}

	//  headline 2. Teil
	.descriptions h3 span,
	.location h3 span,
	.aboutAgent	h3 span,
	.carousel-caption h2,
	.footer h2 span {
		color: @c-fontblue;
		font-family: @f-base;
		font-weight: 400;
	}

	// Klappboxen
	.panel {
		background-color: @c-headbrown !important;
	}

	.panel-heading, .testimonialPane {
		background-color: #ab9f96 !important;
	}

	.panel-title i, .panel-title i:hover {
		border-color: @c-fontblue;
	}

	.items ul li i::before {
		color: @c-fontblue;
	}

	.panel-title a {
		color: @c-fontblue;
		font-family: @f-base;
		font-weight: 400;
	}

	.panel-body p,
	.boxFeature p {
		color: @c-text !important;
	}

	.categories ul li a,
	.categories ul li a p,
	.allButton a,
	.allButton a p,
	.footer .social a,
	.back-to-top,
	.carouselPresentation .owl-prev,
	.carouselPresentation .owl-next,
	.box i,
	.socialIcons i

	 {
		background: @c-btn;
		border-color: @c-btn;

		&:hover {
			background: @c-fontblue;
			border-color: @c-fontblue;
		}
	}

	.contentGallery ul li a h3,
	.progress-bar,
	.footer h2::after
	 {
		background-color: @c-btn;
	}




/*	------------------------------------------ */

// Icons

article .img img {
	position: absolute!important;
}

#information > div > div > div.boxFeature > article:nth-child(1) > div > a > img:nth-child(1),
#information > div > div > div.boxFeature > article:nth-child(1) > div > a > img:nth-child(2) {
	left: 25px!important;
	top: 25px!important;
}

#information > div > div > div.boxFeature > article:nth-child(2) > div > a > img:nth-child(1),
#information > div > div > div.boxFeature > article:nth-child(2) > div > a > img:nth-child(2) {
	left: 24px!important;
	top: 29px!important;
}

#information > div > div > div.boxFeature > article:nth-child(3) > div > a > img:nth-child(1),
#information > div > div > div.boxFeature > article:nth-child(3) > div > a > img:nth-child(2) {
	left: 27px!important;
	top: 27px!important;
}

#information > div > div > div.boxFeature > article:nth-child(4) > div > a > img:nth-child(1),
#information > div > div > div.boxFeature > article:nth-child(4) > div > a > img:nth-child(2) {
	left: 21px!important;
	top: 22px!important;
}


.box .fa-sun-o:before {
    top: -1rem;
    position: absolute;
    bottom: 0;
    right: -1rem;
}

.box .fa-shopping-cart:before {
    top: -0.8rem;
    position: absolute;
    bottom: 0;
    right: -0.8rem;
}

.box .fa-camera:before {
    top: -1rem;
    position: absolute;
    bottom: 0;
    right: -1rem;
}

.box .fa-anchor:before {
    top: -1.1rem;
    position: absolute;
    bottom: 0;
    right: -1rem;
}



/*	------------------------------------------ */

// Navigation

.navbar-brand {
	text-transform: none;
	font-family: @f-base;
	padding: 5px 0px;
}

.navbar-brand a {
	border:none;
}

.menu nav ul li a {
	background: transparent;
	color: #fff;
	border-radius:0;
	border:none;
}

.menu nav ul li a:hover,
.menu nav ul li.active a {
	background: transparent;
	border: none;
	border-bottom: 3px solid @c-fontblue;
	border-radius: 0;
	color: @c-fontblue;
	padding-bottom: 0.15em;
}

.carousel-indicators .active {
	border-color: @c-btn !important;
}

/*	------------------------------------------ */

// Misc

.author h5 span {
	color:@c-fontblue;
}

.underline .line {
	background: @c-btn;
}

.carousel-caption {
	text-shadow: none !important;
}

.vogel {
	position: absolute;
	z-index:0;
	right:0;
	margin-top:-308px;
}

.footer h2, .footer h2 span {
	text-transform: none !important;
}